.color-gray{
	color: #777777;
}

.color-white{
	color: #F2F2F2;
}

.bg-color-black{
	background-color: #2A2A2A;
}

.bg-color-gray{
	background-color: #F2F2F2;
}

.bg-color-green{
	background-color: #E6FFE6;
}

.bg-color-pink{
	background-color: #FFEBFF;
}

.text-u{
	text-decoration: underline;
}

.hm2b-logo{
	height: 50px;
}

.nav-top-margin{
	margin-top: 16px;
}

.hm2b-text-center{
	text-align: center;
}

.hm2b-text-margin{
	margin-top: 30px;
	margin-left: 70px;
	margin-right: 70px;
}

.hm2b-btn-xl{
	font-size: 60px;
	margin-bottom: 20px;
	border: 0px;
	background-color: transparent;
}

.hm2b-btn-xl:hover{
	font-size: 65px;
	background-color: transparent;
	margin-bottom: 15px;
}

#hm2bContent{
	margin-top: 50px;
}

.my-pb-circle{
	display: inline-block;
	height: 40px;
	width: 40px;
	color: #FFFFFF;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	background-color: #AAAAAA;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	cursor: default;
}

.my-pb-line{
	display: inline-block;
	height: 14px;
	width: 30%;
	margin-bottom: 2px;
	background-color: #AAAAAA;
}

.my-pb-link{
	display: inline-block;
	width: 30%;
}

.my-pb-link-margin{
	display: inline-block;
	width: 40px;
	height: 20px;
}

.my-pb-text-margin{
	margin-left: -44px;
}

.my-well{
	padding: 14px;
	font-size: 16px;
	margin-bottom: 0px;
}

.my-link-disable{
	pointer-events: none;
	cursor: default;
	color: #AAAAAA;
}
